<h2><%= @category.name %></h2>

<div>
  <ul >
    <% @films.each do |film| %>
    <li class="film-thumb"><%= link_to image_tag(film.thumbnail_url), category_film_path(film.category, film) %></li>

    <% end %>
  </ul>
</div>
