<h1>Films Index</h1>

<ul>
<% @films.each do |film| %>
  <li class="film-thumb"><%= link_to image_tag(film.thumbnail_url), category_film_path(film.category, film) %></li>
<% end %>
</ul>

<p><%= link_to 'Film Categories', categories_path %></p>

