<h1>Films Index</h1>

<ul>
<% @films.each do |film| %>
  <li><%= link_to film.title, category_film_path(film.category, film) %></li>
<% end %>
</ul>

<p><%= link_to 'Film Categories', categories_path %></p>

