<h1>Films Index</h1>
<ul>

<% @films.each do |film| %>
  <li><%= film.title %></li>
<% end %>
</ul>


<!-- film#index should list all films regardless of category -->

<!-- When user selects film title -- go to film#show -->


<!-- Have link to go back to select another category -->
