

<p>Click Genre to see films</p>
<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_films_path(category) %></li>
  <% end %>
</ul>


<p><%= link_to 'Home', root_path %></p>

  <!-- <li>pe category.name pe link_to category_films_path(@film)</li> -->
<!-- display all categories, as a link  -->
  <!-- link should redirect to films page that match cat.id that is selected -->
  <!-- category_films_path == films#index  ????? -->



